# Created by venv; see https://docs.python.org/3/library/venv.html
# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo

# Ignore backup files
backup_files/
debugging/

# Virtual Environment
.venv/
env/

# IDEs
.vscode/
.idea/

# Logs and Temporary Files
*.log
*.tmp

# OS-Specific Files
.DS_Store
Thumbs.db

# Build Files
dist/
build/

# SSL KEYS
private_key.pem
public_key.pem
hybrid_encryption.py